body {
  background-color: #222831;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
  margin: 0;
  padding: 0;
}

.fs-4 {
  padding: auto;
  font-size: 20px;
  color: #eeeeee;
}

.nav-link {
  color: #00adb5;
}

.nav-link:hover {
  color: #eeeeee;
  font-weight: bold;
}

.nav-link:active,
.nav-link.active {
  background-color: #393e46 !important;
  color: #eeeeee !important;
  font-weight: bold;
  border-radius: 5px;
}

.nav-pills .nav-link.active {
  background-color: #393e46 !important;
  color: #eeeeee !important;
  font-weight: bold;
}

.col-lg-6 h1 {
  color: #00adb5 !important;
}

.col-lg-6 p {
  color: #eeeeee !important;
}

.col-10 img {
  width: 75%;
  height: auto;
  margin-right: 0px !important;
  border-radius: 20px;
  transition: transform 1s ease-in-out;
}

img:hover {
  box-shadow: 0 0 30px white;
  transform: scale(1.1);
  transition: 1s;
}

.pb-2 {
  color: white !important;
}

.col:hover {
  transform: scale(1.1);
  transition: 1s;
}

#icon-grid h3 {
  color: #eeeeee !important;
}

#icon-grid p {
  color: #eeeeee !important;
}

.mb-3 {
  color: #eeeeee !important;
}
